.navbar {
    height: 70px;
    width: 100%;
    background-color: var(--elements-color);
    color: var(--text-color);
    z-index: 3;
    position: fixed;
    padding: 0 5rem;

    .navbar-data {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        // background-color: lightgreen;

        .logo {
            height: 100%;
            // width: 17rem;
            display: flex;
            align-items: center;
            font-family: "Raleway", sans-serif;
            font-optical-sizing: auto;
            font-weight: 500;
            font-size: 1.8rem;
            font-style: normal;
            letter-spacing: 0.05rem;

            img {
                height: 3rem;
                border-radius: 50%;
                margin: 0 0.8rem;
            }
        }

        .nav-links {
            height: 100%;
            list-style: none;
            display: flex;
            align-items: center;

            li {
                margin: 0 1rem;

                a {
                    color: var(--text-color);
                    text-decoration: none;
                    font-size: 1rem;
                    font-weight: 600;
                    padding: 0.2rem;
                    border-radius: 0.2rem;
                }

                .active {
                    border-bottom: 0.1rem solid royalblue;
                }
            }
        }

        .socialLink {
            height: 100%;
            width: 12%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                background-color: var(--elements-color);
                padding: 0.5rem 0.8rem;
                border-radius: 50%;
                cursor: pointer;

                &:hover {
                    background-color: var(--hover-color);
                }
            }

            a {
                background-color: var(--elements-inside-color);
                border-radius: 0.3rem;
                font-size: 1rem;
                font-weight: 600;
                color: var(--text-color);
                padding: 0.6rem 1rem;
                text-decoration: none;
                border: 0.1rem solid var(--shadow-color);

                &:hover {
                    background-color: var(--hover-color);
                    border: none;
                }
            }
        }


        .mobile-menu-icon {
            display: none;
            background: none;
            border: none;
            color: var(--text-color);
            cursor: pointer;
            font-size: 2rem;
        }


        .nav-links-mobile {
            display: none;
            position: absolute;
            top: 70px;
            left: 60%;
            width: 40%;
            height: 100vh;
            background: linear-gradient(90deg, var(--elements-color), var(--elements-color));
            flex-direction: column;
            align-items: center;

            li {
                margin: 2rem 0;
                list-style: none;

                a {
                    text-decoration: none;
                    font-size: 1rem;
                    font-weight: 600;
                    color: var(--text-color);
                    padding: 0.3rem 1rem;
                    border-radius: 0.3rem;
                }

                .active {
                    background-color: var(--hover-color);
                }
            }
        }

        .social-links-mobile {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            top: 35vh;
            left: 2%;

            p {
                background-color: var(--elements-color);
                padding: 0.5rem 0.8rem;
                border-radius: 50%;
                margin-bottom: 2rem;

                &:hover {
                    background-color: var(--hover-color);
                }
            }

            a {
                background-color: var(--elements-inside-color);
                border-radius: 0.3rem;
                font-size: 0.8rem;
                font-weight: 600;
                color: var(--text-color);
                padding: 0.6rem 1rem;
                text-decoration: none;

                &:hover {
                    background-color: var(--hover-color);
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {

    .navbar {
        padding: 0 1.5rem;

        .navbar-data {

            .logo {

                img {
                    margin-left: 0;
                }
            }

            .nav-links {
                display: none;
            }

            .socialLink {
                display: none;
            }

            .mobile-menu-icon {
                display: block;
            }

            .nav-links-mobile {
                display: flex;
            }

            .social-links-mobile {
                display: flex;
            }
        }
    }
}