body {
    --background-color: hsl(207, 26%, 17%);
    --text-color: white;
    --elements-color: hsl(209, 23%, 22%);
    --hover-color: hsl(208, 23%, 31%);
}

.mytechstack{
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;

    .skills-content{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2{
            color: var(--text-color);
            font-size: 3rem;
            font-weight: 500;
        }

        .stack-icon{
            width: 90%;
            margin-top: 5rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .icon{
                background-color: var(--text-color);
                height: 10rem;
                width: 10rem;
                overflow: hidden;
                padding: 0.5rem;
                border-radius: 0.3rem;
                box-shadow: 5px 5px 0 4px var(--elements-color);
                margin: 2rem;
                cursor: pointer;

                &:hover{
                    box-shadow: 5px 5px 0 4px var(--hover-color);
                }

                img{
                    background-color: var(--text-color);
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .mytechstack{
        .skills-content{
            width: 80%;
            h2{
                font-size: 2rem;
            }

            .stack-icon{
                margin: 1.5rem 0;

                .icon{
                    height: 6rem;
                    width: 6rem;
                    margin: 1.5rem 1rem;
                    padding: 0.3rem;
                    box-shadow:5px 5px 0 3px var(--elements-color);

                    &:hover{
                        box-shadow: 5px 5px 0 3px var(--hover-color);
                    }
    
                }
            }
        }
    }
}