.mytechstack {
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;

    .skills-content {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            font-size: 2.5rem;
            width: 23%;
            font-weight: 600;
            border-bottom: 0.1rem solid var(--elements-inside-color2);
            color: var(--heading-color);
            text-align: center;
            padding-bottom: 0.3rem;
        }

        .stack-icon {
            width: 80%;
            margin: 5rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .icon {
                background-color: var(--elements-color);
                height: 6rem;
                width: 6rem;
                overflow: hidden;
                padding: 0.3rem;
                border-radius: 0.5rem;
                box-shadow: 3px 3px 0 2px var(--shadow-color);
                margin: 2rem;
                cursor: pointer;

                &:hover {
                    box-shadow: 3px 3px 0 2px var(--hover-color);
                }

                img {
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .mytechstack {
        .skills-content {
            width: 90%;

            h2 {
                font-size: 2rem;
                width: 72%;

            }

            .stack-icon {
                width: 90%;
                margin: 1.5rem;

                .icon {
                    height: 4rem;
                    width: 4rem;
                    margin: 1rem;
                }
            }
        }
    }
}