.contact{
    position: relative;
    top: 70px;
    width: 100%;
    color: var(--text-color);
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;

    .contact-heading{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h2{
            font-size: 2.7rem;
            font-weight: 600;
            color: royalblue;
            margin-bottom: 3rem;
        }

        p{
            font-size: 1.1rem;
            width: 70%;
        }

        form{
            margin-top: 3rem;
            display: flex;
            flex-direction: column;
            width: 60%;
            text-align: start;

            .form-group{
                width: 100%;
                margin-top: 2rem;

                label{
                    font-size: 1rem;
                    font-weight: 600;
                }

                .form-control{
                    border: none;
                    outline: none;
                    width: 100%;
                    margin-top: 0.5rem;
                    padding: 1rem;
                    height: 2.5rem;
                    font-size: 1rem;
                    border-radius: 0.5rem;
                    background-color: var(--elements-color);
                    color: var(--text-color);
                    box-shadow: 3px 3px 0px 1px var(--shadow-color);
                    cursor: pointer;

                    &:hover{
                        background-color: var(--elements-inside-color);
                        box-shadow: 3px 3px 0px 1px royalblue;
                    }
                }

                .textarea{
                    height: 10rem;
                }
            }

            .form-btn{
                margin-top: 3rem;
                width: 100%;
                text-align: end;

                .btn{
                    border: none;
                    outline: none;
                    height: 2.5rem;
                    width: 12rem;
                    font-size: 1rem;
                    font-weight: 600;
                    background: var(--elements-color);
                    border-radius: 0.3rem;
                    color: var(--text-color);
                    box-shadow: 3px 3px 0px 1px var(--shadow-color);
                    cursor: pointer;
    
                    &:hover{
                        background: var(--hover-color);
                        box-shadow: 3px 3px 0px 1px royalblue;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .contact{

        .contact-heading{
            width: 90%;

            h2{
                width: 85%;
                font-size: 2rem;
            }

            p{
                font-size: 1rem;
                width: 85%;
            }

            form{
                width: 90%;
                margin-top: 2rem;

                .form-btn{
                    text-align: center;
                    
                    .btn{
                        height: 2rem;
                        width: 10rem;
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}