body {
    --background-color: hsl(207, 26%, 17%);
    --text-color: white;
    --elements-color: hsl(209, 23%, 22%);
    --hover-color: hsl(208, 23%, 31%);
}

.portfolio-project {
    padding: 5rem 0;
    width: 100%;
    background: var(--elements-color);
    display: flex;
    justify-content: center;
    align-items: center;

    .project-card {
        background-color: var(--background-color);
        width: 80%;
        padding: 2rem;
        display: flex;
        color: var(--text-color);
        flex-direction: row;
        border-radius: 0.3rem;
        border-top: 0.3rem solid royalblue;
        box-shadow: 5px 5px 0 3px var(--hover-color);

        .card-img-top {
            width: 50%;
        }

        .card-body {
            margin: 2rem 3rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h3{
                font-size: 1.6rem;
                font-weight: 500;
            }

            p {
                font-size: 1.1rem;
                padding-bottom: 1rem;
                border-bottom: 2px solid royalblue;
            }

            .technology-use {
                display: flex;
                justify-content: start;
                align-items: center;
                padding-bottom: 1rem;

                img {
                    width: 2.5rem;
                    margin-right: 1rem;
                }
            }

            a {
                width: 100%;
                background: var(--hover-color);
                font-size: 0.8rem;
                font-weight: 700;
                padding: 0.3rem;
                border-radius: 0.2rem;
                text-align: center;
                cursor: pointer;

                &:hover{
                    background-color: var(--elements-color);
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {

    .portfolio-project{
        padding: 3rem 0;

        .project-card{
            width: 90%;
            display: block;
            padding: 0.5rem;
            border-top: 0.4rem solid royalblue;
            box-shadow: 5px 5px 0 1px var(--hover-color);
            
            .card-img-top{
                width: 100%;
            }

            .card-body{
                margin: 1rem;
                display: block;
    
                p{
                    font-size: 1.1rem;
                    padding: 1rem 0;
                    border-bottom: 2px solid royalblue;
                    color: rgb(99, 99, 99);
                }

                .technology-use{
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    padding: 1.2rem 0; 

                    img{
                        width: 2rem;
                        margin-right: 1rem;
                    }
                }

                a{
                    position: relative;
                    left: 60%;
                    background: var(--hover-color);
                    padding: 0.5rem 1rem;

                    &:hover{
                        background-color: var(--elements-color);
                    }
                }
            }
        }
    }
}