.home-intro {
    height: calc(100vh - 70px);

    .home-section {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url(../../../assets/common-bg.svg);
        background-position: center;


        .home-content {
            height: 60%;
            width: 70%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            // background-color: lightcoral;

            .home-name {
                width: 100%;

                h1 {
                    font-size: 5rem;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    text-align: center;
                    color: #111;
                    font-weight: 700;
                }
            }

            .home-sub-heading {
                width: 80%;

                p {
                    color: #333;
                    font-size: 1.3rem;
                    text-align: center;
                    width: 100%;
                    line-height: 1.6;
                }
            }

            .home-btn {
                width: 100%;
                text-align: center;

                a {
                    padding: 1rem 2rem;
                    border-radius: 2rem;
                    background: linear-gradient(150deg, var(--elements-inside-color), var(--elements-inside-color2));
                    text-decoration: none;
                    color: var(--elements-inside-text-color);
                    font-size: 1rem;
                    font-weight: 600;

                    &:hover {
                        background: var(--elements-inside-hover-color);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .home-intro {
        height: calc(70vh - 70px);

        .home-section {

            .home-content {
                height: 75%;
                width: 90%;

                .home-name {
                    width: 90%;

                    h1 {
                        letter-spacing: 0.1rem;
                        line-height: 3.5rem;
                        font-size: 2.5rem;
                    }
                }

                .home-sub-heading {
                    width: 90%;

                    p {
                        font-size: 1rem;
                    }
                }

                .home-btn {
                    margin-top: 2rem;
                }
            }
        }
    }
}