.footer {
    background-color: var(--elements-color);
    color: var(--text-color);
    padding: 0 8rem;
    height: 70vh;

    .footer-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 7rem 0 2rem 0;

        .left-footer {
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            // background-color: aliceblue;

            img {
                width: 8rem;
                border-radius: 50%;
            }

            h1 {
                font-family: "Raleway", sans-serif;
                font-optical-sizing: auto;
                font-weight: 500;
                font-size: 2rem;
                font-style: normal;
                letter-spacing: 0.2rem;
            }

            p {
                font-size: 1.2rem;
            }

            .email-link {
                a {
                    font-size: 1rem;
                    color: var(--text-color);
                    text-decoration: none;
                    background-color: var(--elements-inside-color);
                    padding: 0.3rem 1.5rem;
                    border-radius: 1rem;

                    &:hover {
                        background-color: var(--hover-color);
                    }
                }
            }
        }

        .right-footer {
            height: 100%;
            width: 40%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 0;

            .left-link {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                h4 {
                    font-size: 1.5rem;
                    border-bottom: 2px solid var(--text-color);
                    width: 7.5rem;
                    font-weight: 500;
                }

                .socialLink {
                    display: flex;
                    flex-direction: column;

                    a {
                        font-size: 1rem;
                        margin-top: 0.8rem;
                        color: #333;
                        text-decoration: none;
                        background-color: var(--elements-inside-color);
                        color: var(--text-color);
                        padding: 0.6rem 1.5rem;
                        border-radius: 0.1rem 1rem;
                        text-align: center;

                        i {
                            position: relative;
                            font-size: 1.3rem;
                            right: 0.2rem;
                        }

                        &:hover {
                            background-color: var(--hover-color);
                        }
                    }
                }
            }

            .right-link {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                h4 {
                    font-size: 1.5rem;
                    border-bottom: 2px solid var(--text-color);
                    width: 5.8rem;
                    font-weight: 500;
                }

                .updates {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    a {
                        font-size: 1rem;
                        margin-top: 0.8rem;
                        color: #333;
                        text-decoration: none;
                        background-color: var(--elements-inside-color);
                        color: var(--text-color);
                        padding: 0.6rem 1.5rem;
                        border-radius: 0.1rem 1rem;
                        text-align: center;

                        &:hover {
                            background-color: var(--hover-color);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 0;
        height: 50rem;

        .footer-item {
            flex-direction: column;
            padding: 5.5rem 0 1.5rem 0;


            .left-footer {
                height: 50%;
                width: 80%;

                p {
                    font-size: 1rem;
                    text-align: center;
                }

            }

            .right-footer {
                height: 50%;
                width: 70%;
                padding-top: 2rem;

                .left-link {

                    h4 {
                        font-size: 1.2rem;
                        width: 73%;
                    }

                    .socialLink {
                        a {
                            padding: 0.4rem 1rem;
                        }
                    }
                }

                .right-link {
                    h4 {
                        font-size: 1.2rem;
                        width: 80%;
                    }

                    .updates {
                        a {
                            padding: 0.4rem 1rem;
                        }
                    }
                }
            }
        }
    }
}