.footer {
    position: relative;
    top: 70px;
    background-color: #000;
    color: var(--text-color);
    padding: 0 10rem;
    height: 50vh;
    display: flex;
    flex-direction: column;
    color: #fff;

    .upper-footer {
        height: 80%;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #fff;

        .left-footer {
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            padding: 2rem 0;

            img {
                height: 5rem;
                width: 5rem;
                border-radius: 50%;
            }

            h1 {
                font-size: 1.5rem;
                font-weight: 500;
                letter-spacing: 0.2rem;
            }

            p {
                font-size: 1rem;
            }

            .email-link {
                width: 20rem;
                text-align: center;

                a {
                    text-decoration: none;
                    color: #fff;
                    font-size: 1rem;
                    border: 1px solid var(--elements-inside-color);
                    border-radius: 5rem;
                    padding: 0.3rem 1rem;
                    background-color: var(--elements-inside-color);
                }
            }
        }

        .right-footer {
            height: 100%;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            .social-box {
                width: 60%;
                height: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                p {
                    font-size: 1.5rem;
                    line-height: 2rem;
                }

                .social-link {
                    width: 50%;
                    display: flex;
                    justify-content: space-between;

                    a {
                        font-size: 1.5rem;
                        margin-right: 1rem;
                        color: #fff;
                    }
                }
            }
        }
    }

    .lower-footer {
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            font-size: 0.7rem;
            color: #fff;
        }

        a {
            margin-left: 0.3rem;
            font-size: 0.8rem;
            font-weight: 600;
            color: #fff;
        }
    }
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 0;
        height: 70vh;

        .upper-footer {
            height: 90%;
            flex-direction: column-reverse;

            .left-footer {
                height: 60%;
                width: 100%;
                padding: 5%;
                text-align: center;
                margin-bottom: 3%;
            }

            .right-footer {
                height: 30%;
                width: 100%;
                align-items: end;

                .social-box {
                    width: 75%;
                    height: 65%;

                    p{
                        font-size: 1.3rem;
                        line-height: normal;
                    }

                    .social-link {
                        a {
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }

        .lower-footer {
            height: 15%;
        }
    }
}